html {
	font-size: 14px;
}
body {
	margin: 0 !important;
	padding: 0;
	overflow: auto;
	background-color: #555555;
	@media screen and (max-width: 768px) {
		padding-right: 0 !important;
	}
}

#root {
	/* min-height: 100vh; */
}

a {
	color: #1b65f8;
}
